{{#component "js-comp demo-tab"}}
<div class="tab tab-condensed tab-reversed" data-type="switchable">
  <ul class="tab-navs clearfix">
    <li data-role="nav"><a href="/platforms/performance">tab-one</a></li>
    <li data-role="nav"><a href="/platforms/supplier">tab-two</a></li>
  </ul>
</div>
{{/component}}
